VITE_TMDB_API_KEY=our_TMDB_API
VITE_FIREBASE_API_KEY=our_Firebase_API_Key
VITE_FIREBASE_AUTH_DOMAIN=our_Firebase_AuthDomain
VITE_FIREBASE_PROJECT_ID=our_Firebase_ProjectId
VITE_FIREBASE_APP_ID=Your_Firebase_AppId